table {
    font-family: arial, sans-serif;
    color: #ffffff;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #dddddd;
    width:100%;
}
.myText{
	font-family: arial, sans-serif;
    color: #ffffff;
}